.head{
    padding: 10px;
    border-bottom: 1px solid black;
    h2{
        font-size: 40px;
        color: rgb(76, 137, 218);
    }
    
}
.menu{
    display: flex;
    justify-content: space-between;
    
}
.btn3 button{
    background-color: rgb(76, 137, 218);
    margin: 3px;
    border: none;
    padding: 6px 10px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
}